<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
  <parameter name="browser" value="chrome"></parameter>
  <parameter name="username" value="vijay@gmail.com"></parameter>
  <parameter name="password" value="Test@123"></parameter>
    <classes>
      <class name="com.TestNGPracticeSuite.TestNGAnnotations"/>
    </classes>
  </test> <!-- Test -->
  <test thread-count="5" name="Test1">
  <parameter name="browser" value="firefox"></parameter>
  <parameter name="username" value="vijay@gmail.com"></parameter>
  <parameter name="password" value="Test@123"></parameter>
    <classes>
      <class name="com.TestNGPracticeSuite.TestNGAnnotations"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
